<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        
        <div class="nested-menu">
            <a (click)="addExpandClass('users')" class="list-group-item">
                <i class="fa fa-user"></i>&nbsp;
                <span>{{ 'Users' | translate }}</span>
            </a>
            <li [class.expand]="showMenu === 'users'" class="nested">
                <ul class="submenu">
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/users/add">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span>{{ 'Add new User' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/users">
                            <i class="fa fa-list"></i>&nbsp;
                            <span>{{ 'User List' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a (click)="addExpandClass('customers')" class="list-group-item">
                <i class="fa fa-building"></i>&nbsp;
                <span>{{ 'Customers' | translate }}</span>
            </a>
            <li [class.expand]="showMenu === 'customers'" class="nested">
                <ul class="submenu">
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/customers/add">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span>{{ 'Add new Customer' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/customers">
                            <i class="fa fa-list"></i>&nbsp;
                            <span>{{ 'Customers List' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a (click)="addExpandClass('trucks')" class="list-group-item">
                <i class="fa fa-truck"></i>&nbsp;
                <span>{{ 'Truck' | translate }}</span>
            </a>
            <li [class.expand]="showMenu === 'trucks'" class="nested">
                <ul class="submenu">
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/transports/add">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span>{{ 'Add new Truck' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/transports">
                            <i class="fa fa-list"></i>&nbsp;
                            <span>{{ 'Trucks List' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a (click)="addExpandClass('pages')" class="list-group-item">
                <i class="fa fa-truck"></i>&nbsp;
                <span>{{ 'Trips' | translate }}</span>
            </a>
            <li [class.expand]="showMenu === 'pages'" class="nested">
                <ul class="submenu">
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/trips/add">
                            <i class="fa fa-plus"></i>&nbsp;
                            <span>{{ 'Add new Trip' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['router-link-active']" routerLink="/trips">
                            <i class="fa fa-list"></i>&nbsp;
                            <span>{{ 'Trips List' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>
    </div>
</nav>
